<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>cbctest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>ctrtest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>decrypt.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>ecbtest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>encrypt.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>keygen.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>ofbtest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1F25924E179F0D7C003D388B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1F259263179F160B003D388B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1F259270179F161F003D388B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1F25927D179F166A003D388B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1F259493179F2F46003D388B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1F2598D6179F41BD003D388B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1FCE6F6F17A1055C004C20A1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1FCE6F7C17A10569004C20A1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1FCE6F8917A10588004C20A1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
